body {
  margin: 0;
  padding: 0;
  background-color: #111;;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

a {
  color: #7000FF;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  color: #fafafa;
  font-size: 24px;
}

h1 {
  color: #fff;
  font-size: 4.0em;
  display: flex;
  align-items: center;
  text-align: center;
}

.swift-logo {
  margin-right: 30px;
}

h2 {
  color: #41B645;
  font-size: 32px;
  font-weight: 600;
}

.link--white {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link--red {
  color: #F05138;
}

.link-icon {
  padding-right: 6px;
}

.text--sm {
  font-size: 18px;
}

.caps {
  text-transform: uppercase;
  font-weight: 600;
}

.intro {
  padding-top: 80px;
  padding-bottom: 20px;
}

.intro-text {
  padding-top: 8px;
  padding-bottom: 30px;
}

.wrapper {
  width: 80%;
  max-width: 900px;
  margin: auto;
  padding-right: 40px;
  padding-left: 40px;
}

.example {
  padding-bottom: 20px;
}

.materials {
  padding-top: 60px;
  text-align: center;
  font-size: 1.5em;
}

footer {
  padding-top: 80px;
  padding-bottom: 60px;
  text-align: center;
}
